a.hoverblack:hover,.hoverblack:hover{
    cursor: pointer;
    text-decoration: none !important;
    background: rgb(0, 142, 255) !important;
    color: rgb(255, 255, 255);
}
.navigationBar .options  a:hover{
    background-color: rgb(69, 69, 69);
}
#nav-toggle-btn:hover{
   border-color: black;
}
.wiki-card:hover{
    cursor: pointer;
    border-color: rgb(33, 150, 243) !important;
    background: black !important;
}
.voter:hover{
    background-color: rgba(255, 152, 0, 0.23);
}
.voter .btn:hover{
    background-color: rgb(255, 152, 0);
    color: white;
}
.termsOfUse:hover, .by-na-sa:hover{
    cursor: pointer;
    color: orangered
}
.closeBtn:hover{
    background-color: coral !important;
    color: white !important;
}
.promoImg img:hover{
    transform: scale(1.02);
}